
header {

  background-color:rgb(125, 90, 80);
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/150/336/non_2x/arabic-cuisine-vector.jpg");
  background-position: top right;
  margin: 0;
  height: 200px;
}
  
  h1 {
  text-align:center; 
  margin-top: 0px; 
  margin-left: 500px;
  padding-top: 10px; 
  font-size:  300%;
  font-style: oblique;
  color: brown;
  float: left;

}


.a{
  text-align:left; 
  margin-top: 10px; 
  margin-right: 500px;
  font-style: oblique;
  color: brown;
  display: block;
   margin: 10px ;
   float: right;
  }


  a:link {
  text-decoration: none;
  color: rgb(134, 78, 78);
}


  


  a:link {
  text-decoration: none;
  color: rgb(247, 201, 201);

}



#foodlist {
background-color:rgb(229, 178, 153);
display: block;
}



  main {
    background-color: rgb(229, 178, 153);
  }

footer{
  background-color: brown;

} 



h2 {
background-color: rgb(180, 132, 108);
}


h4 {
text-align: center;
font: 20

}

div{
  display: inline;
  background-color: beige;
}


.para{
  font-size:100;


}